<%- include("components/header") -%>

<div class=" featuredDestinations my-4 text-center">
    <hr class="half-hr"> <h2 class="inline-block"> Plan Your Trip</h2> <hr class="half-hr">
</div>

<div class="greyBorderBox m-3 p-5" style="border: 1px solid rgba(123, 120, 120, 0.403); border-radius: 20px;">
    <a href="/destinations" class="btn btn-outline-primary py-3 my-4" style="width: 100%; border-radius: 20px;">Places To Vist</a>
    <a href="/stay" class="btn btn-outline-primary py-3 my-4" style="width: 100%; border-radius: 20px;">Accomodation</a>
    <a href="/transport" class="btn btn-outline-primary py-3 my-4" style="width: 100%; border-radius: 20px;">Transportation services</a>
    <a href="/eat" class="btn btn-outline-primary py-3 my-4" style="width: 100%; border-radius: 20px;">Try Ekiti's best Cusines</a>
</div>

<%- include("components/footer") -%>