.bg-deepblue{
    padding: 3rem;
    color: #fff;
    background-color: rgb(10, 26, 70);
}

.carousel-item{
    height: 650px;
}

.carousel-caption h2, .carousel-caption h5, .carousel-caption p{
    position: relative;
    bottom: 250px;
}

.cardBox{
    height: 200px;
}

.dark-overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 650px;
}

.destinationCardLink{
    text-decoration: none;
    color: black;
}

.destinationCardLink:hover{
    text-decoration: none;
    color: black;
}

.detailbox{
    background-color: #fff;
}

footer{
    background-color:  rgb(56, 96, 205);
}

.greyBorderBox{
    background-color: #fff;
    border: 5px solid #000;
}

.half-hr{
    display: inline-block;
    width: 30%;
}

.inline-block{
    display: inline-block;
}

.small-hr{
    width: 10%;
    margin-left: 120px;
}



